#icons-cnt {
    height: 200px;
    background-color: $myblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    gap: 40px;
    
    img {
        width: 68px;
        max-height: 86px;
    }
}

.comic-link {
    display: inline-block;
    width: calc(100% / 4);
    text-decoration: none; 
}

#comic-container {
    width: 100%;
    min-height: 500px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #242424;
}

.comic h5 {
    width: 180px;
    text-wrap: wrap;
}

.my-bg {
    background-color: #242424;
}

.comic {
    width: calc(100% / 6);
    height: 380px;
    text-align: center;
    color: white;
    padding: 80px;

    img {
        width: 190px;
        height: 220px;
        margin-bottom: 8px;
    }

    h5 {
        margin-bottom: 40px;
        text-transform: uppercase;
        font-size: 0.8em;
    }
}

#load-btn {
    height: 40px;
    width: 180px;
    color: white;
    background-color: $myblue;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;
}

#comic-preview {
    position: absolute;
    width: 180px;
    height: 280px;
    left: 320px;
    bottom: 20px;
}

#jumbo {
    width: 100%;
    height: 400px;
    position: relative;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

#jumbo-bonus {

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

#navbar {
    background-color: white;
    font-weight: bold;
    justify-content: space-evenly;
}

#nav-list {
    display: flex;
    gap: 20px;
}

#label {
    height: 60px;
    width: 240px;
    background-color: $myblue;
    position: relative;
    bottom: 30px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    span {
        color: white;
        font-size: 1.5em;
    }
}

#label-bonus {
    height: 60px;
    width: 100%;
    background-color: $myblue;
    position: relative;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    span {
        color: white;
        font-size: 1.5em;
    }
}

#edit-btn {
    padding: 8px;
    background-color: yellow;
}

#destroy-btn {
    padding: 8px;
    background-color: red;
}

